<div class="form-container">
  <div class="search-bar">
    <md-input-container>
      <input mdInput type="text" class="ghost-input" placeholder="New search"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nothing ?'" #itemTitle (blur)="addItemTitle(itemTitle.value)">
    </md-input-container>
    <button md-fab (click)="searchItem()" color="primary">
      <md-icon>search</md-icon>
    </button>
  </div>
    <div *ngIf="viewSearch" class="search-container">
      <div *ngFor="let item of itemList" class="item-div">
        <img src="{{item.poster}}" (click)="selectItem(item.title)">
      </div>
    </div>
    <div class="item-selected">
      {{ selectedItem }}
    </div>
    <div class="puntuation-container">
      <span class="span-left"></span>
      <div class="marks-container">
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <div *ngFor="let mark of marks" class="mark-div">
            <md-button-toggle value="{{mark}}" (click)="selectMark(mark)">
              {{ mark }}
            </md-button-toggle>
          </div>
        </md-button-toggle-group>
      </div>
      <span class="span-right"></span>
    </div>
    <button md-fab (click)="saveItem()" class="save-button" color="primary">
      <md-icon>save</md-icon>
    </button>
</div>