.form-container {
    text-align: center;
}

@media (max-width: 768px) {
    .puntuation-container .span-left {
        display: none;
        flex: none;
    }

    .puntuation-container .span-right {
        display: none;
        flex: none;
    }

    .puntuation-container .marks-container {
        width: 100%;
        overflow-x: auto;
    }

    .marks-container md-button-toggle-group.mat-button-toggle-group {
        max-width: 100%;
        box-shadow: none;
        margin: 2em;
    }
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container .movie-div {
    display: flex;
    flex-direction: row;
    margin: 0.1em;
    cursor: pointer;
}

.movie-div img{
    border-radius: 15px;
}

.movie-selected {
    margin-top: 1em;
    font-family: 'Roboto', serif;
    font-size: 1.5em;
    color: #673ab7;
    text-align: center;
}

.puntuation-container {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.puntuation-container .span-left {
    flex: 1;
}

.puntuation-container .span-right {
    flex: 1;
}

.puntuation-container .marks-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mark-div md-button-toggle.mat-button-toggle.mat-button-toggle-checked {
    background-color: #673ab7;
    border-radius: 20%;
    color: white;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
}

button md-icon {
    color: white;
}

.save-button {
    
}