<div class="form-container">
  <div class="search-bar">
    <md-input-container>
      <input mdInput type="text" class="ghost-input" placeholder="I wanna see a new movie"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'No movies ?'" #movieTitle (blur)="addMovieTitle(movieTitle.value)">
    </md-input-container>
    <button md-fab (click)="searchMovie()" color="primary">
      <md-icon>search</md-icon>
    </button>
  </div>
    <div *ngIf="viewSearch" class="search-container">
      <div *ngFor="let movie of movieList" class="movie-div">
        <img src="{{movie.poster}}" (click)="selectMovie(movie.title)">
      </div>
    </div>
    <div class="movie-selected">
      {{ selectedMovie }}
    </div>
    <div class="puntuation-container">
      <span class="span-left"></span>
      <div class="marks-container">
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <div *ngFor="let mark of marks" class="mark-div">
            <md-button-toggle value="{{mark}}" (click)="selectMark(mark)">
              {{ mark }}
            </md-button-toggle>
          </div>
        </md-button-toggle-group>
      </div>
      <span class="span-right"></span>
    </div>
    <button md-fab (click)="saveMovie()" class="save-button" color="primary">
      <md-icon>save</md-icon>
    </button>
</div>