<div class="menu-container">
  <button md-button (click)="openFloatMenu()" color='primary'>
    <md-icon>search</md-icon>
    <span class="separator-span"></span>
    Search
  </button>
  <button md-button (click)="openFloatMenu()" color='primary'>
    <md-icon>sort</md-icon>
    <span class="separator-span"></span>
    Sort
  </button>
  <button md-button (click)="openFloatMenu()" color='primary'>
    <md-icon>view_quilt</md-icon>
    <span class="separator-span"></span>
    Views
  </button>
  <button md-button (click)="openFloatMenu()" color='primary'>
    <md-icon>blur_on</md-icon>
    <span class="separator-span"></span>
    Category
  </button>
</div>