<div class="menu-container">
  <button class="menu-button" md-button (click)="searchMenuClick()" color='primary'>
    <md-icon>search</md-icon>
    <span class="separator-span"></span>
    Search
  </button>
  <button class="menu-button" md-button (click)="sortMenuClick()" color='primary'>
    <md-icon>sort</md-icon>
    <span class="separator-span"></span>
    Sort
  </button>
  <button class="menu-button" md-button (click)="viewsMenuClick()" color='primary'>
    <md-icon>view_quilt</md-icon>
    <span class="separator-span"></span>
    Views
  </button>
  <button class="menu-button" md-button (click)="categoryMenuClick()" color='primary'>
    <md-icon>blur_on</md-icon>
    <span class="separator-span"></span>
    Category
  </button>
</div>