<div class="menu-container">
  <button class="menu-button" md-button (click)="categoryMovies()" color='primary'>
    <md-icon>local_movies</md-icon>
    <span class="separator-span"></span>
    Movies
  </button>
  <button class="menu-button" md-button (click)="categoryTvshows()" color='primary'>
    <md-icon>tv</md-icon>
    <span class="separator-span"></span>
    Tv shows
  </button>
  <button class="menu-button" md-button (click)="categoryBooks()" color='primary'>
    <md-icon>local_library</md-icon>
    <span class="separator-span"></span>
    Books
  </button>
  <button class="menu-button" md-button (click)="categoryVideogames()" color='primary'>
    <md-icon>games</md-icon>
    <span class="separator-span"></span>
    Videogames
  </button>
</div>