<div class="general-container">
  <div class="user-container">
    <div class="button-container-left">
      <button md-fab (click)="showMenu()" color='primary'>
        <md-icon>menu</md-icon>
      </button>
      <div class="float-menu-container" *ngIf="menuFlag">
        <menu-options (changeCategoryEE)="changeCategory($event)"></menu-options>
      </div>
    </div>
    <div class="button-container-center">
      <button md-fab (click)="openDialogForm()" color='primary'>
        <md-icon>create</md-icon>
      </button>
    </div>
    <div class="user-div" (click)="toggleUserFlip()" [@flipUserState]="flipUser">
      <div class="user-flip user-front">
        <img src="{{user_photoURL}}">
      </div>
      <div class="user-flip user-back">
        <button md-fab (click)="logout()" color='primary'>
          <md-icon>power_settings_new</md-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="sort-container">
    <sort-menu (sortEE)="sort($event)"></sort-menu>
  </div>
  <div class="cards-container">
    <div #myCard *ngFor="let card of cards; let i = index" (click)="toggleFlip(i)" [@flipState]="flip[i]" class="card-div">
      <div class="card-flip card-front">
        <img src="{{card.posterUrl}}">
      </div>
      <div class="card-flip card-back">
        <div class="buttons-container-top">
          <button class="edit-button" md-fab (click)="editCard(card)" color='primary'>
            <md-icon>movie_filter</md-icon>
          </button>
        </div>
        <div class="words-container">
          <div class="back-title">
            {{ card.title }}
          </div>
          <div class="back-mark">
            {{ card.mark }}
          </div>
        </div>
        <div class="buttons-container-bottom">
          <button class="delete-button" md-fab (click)="deleteCard(card)" color="warn">
            <md-icon>delete</md-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <button class="pag-button" md-button disabled color="primary" (click)="scroll()">
      Load more
    </button>
  </div>
</div>